@import url('https://fonts.googleapis.com/css2?family=LINE+Seed+JP&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';


body{
    font-family: "LINE Seed JP", sans-serif;
    /* background-image: radial-gradient(#ececec 1.5px, transparent 25px);
    background-size: 10px 10px;
    background-color: #ffffff; */
    /* height: 900vh; */

    /* background-color: #1c1917; */
    /* background-image:  url(/public/Images/gridbg.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(to right, #0f172a, #334155);

}
